.element__delete {
    margin: 0;
    padding: 0;
    width: 18px;
    height: 19px;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-image: url('../../../images/Trash.svg');
    cursor: pointer;
    transition: opacity .2s linear;
    position: absolute;
    top: 20px;
    right: 20px;
}

.element__delete:hover {
    opacity: .5;
}